{% extends 'base.html' %}

{% block div2 %}
<h1>Welcome !{{email}}</h1>
<hr></hr>
{% for chatHistory in chatHistories %}
    <p>{{chatHistory.sender}} --> {{chatHistory.message}}</p>
{% endfor %}

<form action = "../chat/{{reciever.id}}" method="post">
  {% csrf_token %}
{{chatTableForm.as_p}}
<button type = "submit">Submit</button>
<button type = "reset">Reset</button>
</form>

{% endblock %}


{% block div1 %}
<h1>Registered user</h1>
<hr></hr>
{% for user in users %}
    <a href = "../chat/{{user.id}}">{{user.email}} </a>
{% endfor %}
{% endblock %}
